# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/
*.env

# DBT artifacts
dbt_packages/
target/
logs/
manifest.json

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
